.App {
  // text-align: center;
  // overflow: scroll;
}
.App-logo-container {
  display: flex;
  justify-content: center;
}
.App-logo {
  height: 20vmin;
  padding: 10px;
  align-self: flex-start;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home_icon {
  left: 50px;
  position: relative;
}
