.search-area {
  padding: 40px;
  display: flex;
  border-bottom: 1px dotted #212121;

  label {
    font-size: large;
    padding-top: 8px;
    font-weight: 700;
    color: #212121;
    width: 20%;
    letter-spacing: 0.2em;
  }
}

.search-input {
  font-size: 20px;
  color: #7996a7;
  width: 50%;
}
