.actors {
  padding: 10px;
  margin: 10px;
  display: inline;
}

.actors-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.movie_actors_info {
  padding: 25px;
  text-align: center;
  right: 15%;
  top: 30px;
  position: relative;
}

//actor

.actor_link {
  cursor: grab;
  color: #286b92;
  font-weight: bold;

  :hover {
    // opacity: 0.2;
    background-color: rgb(31, 11, 161);
    border-radius: 20px;
    margin-left: 3px;
    padding-left: 10px;
    color: #fff;

    &:active {
      background-color: rgb(223, 9, 27);
      border-radius: 20px;
      margin-left: 3px;
      padding-left: 10px;
      color: #fff;
    }
  }
}
