@import "movies.scss";

.movie_container {
  margin: 0 10px;
  padding: 20px;
}

.movie_overview {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.movie_image_container {
  display: flex;
  justify-content: space-between;
}

.movie-image {
  width: 30%;
  position: relative;
  right: 8%;
}

#movie-title {
  @extend .movies-title;
  padding: 10px;
}

.movie-results {
  padding-bottom: 20px;

  span {
    display: flex;
    flex-direction: column;
  }
}

#summary {
  text-align: left;
}

#movie_trailer {
  margin-bottom: 90px;
  width: 80%;
  height: 400px;
  overflow-y: hidden;
  position: relative;
  right: -10%;
}

.movie-info {
  padding: 5px;
  width: 100%;
}
